:host {
  display: block;
  position: relative;
  padding-block: 80px;
  color: var(--text-primary);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    background-color: var(--bg-primary);
    z-index: -1;
    clip-path: polygon(0% 30%, 130% 0, 100% 100%, 0% 100%);

    @media (min-width:700px) {
      clip-path: polygon(12% 50%, 100% 0, 100% 100%, 0% 100%);
    }

    @media (min-width:1024px) {
      clip-path: polygon(5% 50%, 100% 0, 100% 100%, 0% 100%);
    }

    @media (min-width:1440px) {
      clip-path: polygon(10% 40%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  // polygon(7% 52%, 100% 0%, 100% 100%, 0% 100%)

  @media (min-width:700px) {
    padding-block: 160px;
  }
}

.reservation-section {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--section-padding-inline);
  gap: 24px;

  &-info {
    max-width: 525px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
      font-size: 2rem;
      font-weight: 800;

      @media (min-width:700px) {
        font-size: 56px;
      }
    }

    @media (min-width:700px) {
      gap: 32px;
    }
  }

  &-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 10px;

    @media (min-width:1024px) {
      max-width: 450px;
    }
  }

  @media (min-width:700px) {
    flex-direction: row;
    max-width: 90%;
    gap: 80px;
  }

  @media (min-width:1024px) {
    max-width: 100%;
    justify-content: center;
  }
}