:host {
  display: block;
  position: relative;
  padding-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    background-color: var(--bg-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);

    @media (min-width:700px) {
      height: 400px;
      clip-path: polygon(0 0, 100% 0, 93% 86%, 0 100%);
    }

    @media (min-width:1024px) {
      height: 450px;
      clip-path: polygon(0 0, 100% 0, 90% 85%, 0 100%);
    }

    @media (min-width:1440px) {
      clip-path: polygon(0 0, 100% 0, 90% 85%, 0 100%);
    }
  }
}


.hero {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--section-padding-inline);
  gap: 16px;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 2;

    .hero-title {
      font-size: 2.5rem;

      @media (min-width:1024px) {
        font-size: 56px;
      }
    }

    .hero-description {
      font-size: 1.5rem;
      font-weight: 400;
    }

    @media (min-width:700px) {
      gap: 16px;
      align-items: flex-start;
    }

    @media (min-width:1024px) {
      gap: 32px;
      max-width: 600px;
    }
  }

  &-image {
    width: 100%;
    height: auto;
    z-index: 2;
    max-width: 300px;

    @media (min-width:700px) {
      max-width: 350px;
    }

    @media (min-width:1024px) {
      max-width: 450px;
    }
  }

  @media (min-width:700px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  @media (min-width:1024px) {
    gap: 80px;
  }
}

// .hero-shape {
//   position: absolute;
//   inset: 0;
//   background-image: url('/assets/hero-shape-mobile.svg');
//   background-size: cover;
//   background-position: center;

//   @media (min-width:700px) {
//     background-image: url('/assets/hero-shape-tablet.svg');
//   }

//   @media (min-width:1024px) {
//     background-image: url('/assets/hero-shape-desktop.svg');
//   }
// }