// :host {
//   background-image: url('/assets/hero-shape.svg');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.hero {
  // color: var(--text-primary);
  display: flex;
  flex-direction: column;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .hero-title {
      font-size: 2.5rem;
    }

    .hero-description {
      font-size: 1.5rem;
      font-weight: 400;
    }

    @media (min-width:700px) {
      max-width: 600px;
    }
  }

  @media (min-width:700px) {
    align-items: center;
    gap: 80px;
  }
}