:host {
  display: block;
  background: var(--bg-primary);
  color: var(--text-primary);
  padding-block: var(--section-padding-block);
}

.seasonal-dish-section {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-inline: var(--section-padding-inline);

  &-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (min-width:700px) {
    flex-direction: row;
  }
}