<section class="seasonal-dish-section">
  <div class="seasonal-dish-section-info">
    <app-section-text size="lg"> Plato de la temporada </app-section-text>
    <app-section-text size="sm"
      >Descubre el sabor auténtico de Perú con nuestro anticucho de temporada.
      Este plato, lleno de tradición, combina tiernos trozos de corazón de res
      marinados en especias, servidos con una salsa de ají y acompañados de
      papas doradas. Una experiencia culinaria que te transportará a las calles
      de Lima.
    </app-section-text>
  </div>

  <img
    class="seasonal-dish-section-image"
    src="/assets/seasonal-dish.png"
    alt="Seasonal Dish"
  />
</section>
