.section-text {
  font-weight: 400;

  &.sm {
    font-size: 1rem;

    @media (min-width: 700px) {
      font-size: 1.2rem;
    }
  }

  &.md {
    font-size: 1.4rem;

    @media (min-width: 700px) {
      font-size: 1.6rem;
    }
  }

  &.lg {
    font-size: 1.2rem;

    @media (min-width: 700px) {
      font-size: 2.4rem;
    }

  }
}