<div class="experience-section">
  <div class="experience-section-info">
    <app-section-text size="lg"> Una experiencia única </app-section-text>

    <app-section-text size="sm">
      En nuestro restaurante, ofrecemos una experiencia culinaria única con los
      mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el
      lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un
      ambiente acogedor mientras saboreas nuestras especialidades.
    </app-section-text>
  </div>

  <img
    class="experience-section-image"
    src="/assets/culinary-experience.png"
    alt="Culinary Experience"
  />
</div>
