:host {
  display: block;
  background: var(--bg-red);
  color: var(--text-primary);
  padding-block: var(--section-padding-block);
}

.experience-section {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-inline: 16px;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-image {
    width: 100%;
    height: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (min-width:700px) {
    padding-inline: 0;
  }
}